In [7]:
# Importing libraries
# pandas for datatframe, numpy for the maths, matplotlib for visualisatioon of results
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
# Import the library for predictive data analysis, used in machine learning, for create test data and 
# training data and to perfom linear regression 
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [9]:
# Creating the data frame
df = pd.read_csv('M1_final.csv')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28820 entries, 0 to 28819
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MONTH              28820 non-null  int64
 1   DAY_OF_MONTH       28820 non-null  int64
 2   DAY_OF_WEEK        28820 non-null  int64
 3   OP_UNIQUE_CARRIER  28820 non-null  object
 4   TAIL_NUM           28820 non-null  object
 5   DEST               28820 non-null  object
 6   DEP_DELAY          28820 non-null  int64
 7   CRS_ELAPSED_TIME   28820 non-null  int64
 8   DISTANCE           28820 non-null  int64
 9   CRS_DEP_M          28820 non-null  int64
 10  DEP_TIME_M         28820 non-null  int64
 11  CRS_ARR_M          28820 non-null  int64
 12  Temperature        28820 non-null  int64
 13  Dew Point          28820 non-null  object
 14  Humidity           28820 non-null  int64
 15  Wind               28818 non-null  object
 16  Wind Speed         28820 non-null  int64
 17  Wind Gust          28820 non-null  int64
 18  Pressure           28820 non-null  float64
 19  Condition          28820 non-null  object
 20  sch_dep            28820 non-null  int64
 21  sch_arr            28820 non-null  int64
 22  TAXI_OUT           28820 non-null  int64
dtypes: float64(1), int64(16), object(6)
memory usage: 5.1+ MB

In [11]:
df.head()

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,TAIL_NUM,DEST,DEP_DELAY,CRS_ELAPSED_TIME,DISTANCE,CRS_DEP_M,...,Dew Point,Humidity,Wind,Wind Speed,Wind Gust,Pressure,Condition,sch_dep,sch_arr,TAXI_OUT
0,11,1,5,B6,N828JB,CHS,-1,124,636,324,...,34,58,W,25,38,29.86,Fair / Windy,9,17,14
1,11,1,5,B6,N992JB,LAX,-7,371,2475,340,...,34,58,W,25,38,29.86,Fair / Windy,9,17,15
2,11,1,5,B6,N959JB,FLL,40,181,1069,301,...,34,58,W,25,38,29.86,Fair / Windy,9,17,22
3,11,1,5,B6,N999JQ,MCO,-2,168,944,345,...,34,58,W,25,38,29.86,Fair / Windy,9,17,12
4,11,1,5,DL,N880DN,ATL,-4,139,760,360,...,32,58,W,24,35,29.91,Fair / Windy,9,17,13

In [12]:
df.tail()

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,TAIL_NUM,DEST,DEP_DELAY,CRS_ELAPSED_TIME,DISTANCE,CRS_DEP_M,...,Dew Point,Humidity,Wind,Wind Speed,Wind Gust,Pressure,Condition,sch_dep,sch_arr,TAXI_OUT
28815,1,31,5,B6,N216JB,ORH,2,57,150,1370,...,38,96,N,6,0,30.18,Cloudy,20,32,19
28816,1,31,5,AA,N104NN,BOS,2,75,187,1390,...,38,96,N,6,0,30.18,Cloudy,19,23,22
28817,1,31,5,AS,N581AS,SEA,283,392,2422,1125,...,38,96,N,6,0,30.18,Cloudy,19,23,21
28818,1,31,5,B6,N957JB,SJU,5,224,1598,1417,...,38,96,N,6,0,30.18,Cloudy,19,23,13
28819,1,31,5,B6,N958JB,BQN,-1,225,1576,1439,...,38,96,N,6,0,30.18,Cloudy,19,23,15

In [13]:
# Checking if there are nul values
# Just 2 null values in the wind category, will drop those 2

df.isnull().sum()

MONTH                0
DAY_OF_MONTH         0
DAY_OF_WEEK          0
OP_UNIQUE_CARRIER    0
TAIL_NUM             0
DEST                 0
DEP_DELAY            0
CRS_ELAPSED_TIME     0
DISTANCE             0
CRS_DEP_M            0
DEP_TIME_M           0
CRS_ARR_M            0
Temperature          0
Dew Point            0
Humidity             0
Wind                 2
Wind Speed           0
Wind Gust            0
Pressure             0
Condition            0
sch_dep              0
sch_arr              0
TAXI_OUT             0
dtype: int64

In [26]:
# Dropping null values

df = df.dropna()
df.isnull().sum()

MONTH                0
DAY_OF_MONTH         0
DAY_OF_WEEK          0
OP_UNIQUE_CARRIER    0
TAIL_NUM             0
DEST                 0
DEP_DELAY            0
CRS_ELAPSED_TIME     0
DISTANCE             0
CRS_DEP_M            0
DEP_TIME_M           0
CRS_ARR_M            0
Temperature          0
Dew Point            0
Humidity             0
Wind                 0
Wind Speed           0
Wind Gust            0
Pressure             0
Condition            0
sch_dep              0
sch_arr              0
TAXI_OUT             0
dtype: int64

In [ ]:
# CRS_ELAPSED TIME is the total time of the flight, delay and flight, not useful to predict delay, also containgin TAXI OUT DELAY already
# CRS_DEP_M Scheduled departing time, we may need that
# DEP_TIME_M is actual departure time, it is already correlated to DEP_DELAY
# Not interested in arrival schedule or predicted time
# I will keep only sch_dep (it may have an influence if the flight is early morning or late night) and DEP_DELAY surely the departure delay
# will influence the taxi out, (the plain may be changing runaway etc.)

In [27]:
 # Check the dataframe shape
 print(df.shape)
 
 # The data set has 23 columns and 28818 rows (entries)

(28818, 23)

In [30]:
 # Diving predictors from the dependable variables y (TAXI_OUT)
 # TAXI_OUT is the last column 
 
x= df.iloc[:, :-1].values
y= df.iloc[:, 22].values
print(x.shape)
print(y.shape)

(28818, 22)
(28818,)

In [31]:
print(type(x))
print(type(y))
# They are both np.array, y is a vector, 1 dimension

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

In [37]:
 # There are some categorical values (dtype = object) that I want to group at the end of the x array and convert into numerical
 categorical_columns = df.select_dtypes(include='object').columns.tolist()
 numerical_columns = df.select_dtypes(exclude='object').columns.tolist()
 print(categorical_columns)
 print(numerical_columns)

['OP_UNIQUE_CARRIER', 'TAIL_NUM', 'DEST', 'Dew Point', 'Wind', 'Condition']
['MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'DEP_DELAY', 'CRS_ELAPSED_TIME', 'DISTANCE', 'CRS_DEP_M', 'DEP_TIME_M', 'CRS_ARR_M', 'Temperature', 'Humidity', 'Wind Speed', 'Wind Gust', 'Pressure', 'sch_dep', 'sch_arr', 'TAXI_OUT']

In [43]:
# Checking how many unique values there are in the categorical columns, if they are too many, it may not be so relevant for this analysis

cardinality_carriers = df['OP_UNIQUE_CARRIER'].nunique()
cardinality_tail = df['TAIL_NUM'].nunique()
cardinality_dest = df['DEST'].nunique()
cardinality_dew_point = df['Dew Point'].nunique()
cardinality_wind = df['Wind'].nunique()
cardinality_condition = df['Condition'].nunique()

print('Cardinality of carriers: ', cardinality_carriers)
print('Cardinality of tail: ', cardinality_tail)
print('Cardinality of dest: ', cardinality_dest)
print('Cardinality of dew point: ', cardinality_dew_point)
print('Cardinality of wind: ', cardinality_wind)
print('Cardinality of condition: ', cardinality_condition)

Cardinality of carriers:  9
Cardinality of tail:  2092
Cardinality of dest:  65
Cardinality of dew point:  64
Cardinality of wind:  18
Cardinality of condition:  25

In [ ]:
# Carriers, only 9, Ill keep this
# TAIL_NUM has 2092 different unique values and I dont think it can add any value at this stage, I will drop
# DEST I wont keep it, just use distance
# Dew point: it seems to be a number, I will just convert this in int
# Wind I will keep as it is
# I will below analyze the Condition column to reduce the categories

In [ ]:
# Before changing the datatype
print("Before:")
print(df.dtypes)

# Change the datatype of the 'column_name' column to the desired type (e.g., float)
df['Dew Point'] = df['Dew Point'].astype(int)

# After changing the datatype
print("\nAfter:")
print(df.dtypes)

In [47]:
# categorical_columns that I am gonna keep are carriers, wind and conditions
#Checking conditions and wind and carriers values
unique_values = df['Condition'].unique()
print("Unique Values using unique():", unique_values)

Unique Values using unique(): ['Fair / Windy' 'Fair' 'Light Rain / Windy' 'Partly Cloudy'
 'Mostly Cloudy' 'Cloudy' 'Light Rain' 'Mostly Cloudy / Windy'
 'Partly Cloudy / Windy' 'Light Snow / Windy' 'Cloudy / Windy'
 'Light Drizzle' 'Rain' 'Heavy Rain' 'Fog' 'Wintry Mix'
 'Light Freezing Rain' 'Light Snow' 'Wintry Mix / Windy' 'Fog / Windy'
 'Light Drizzle / Windy' 'Rain / Windy' 'Drizzle and Fog' 'Snow'
 'Heavy Rain / Windy']

In [48]:
unique_values = df['Wind'].unique()
print("Unique Values using unique():", unique_values)

Unique Values using unique(): ['W' 'WNW' 'NW' 'NNW' 'S' 'ENE' 'NE' 'NNE' 'E' 'SE' 'CALM' 'SW' 'VAR'
 'SSE' 'SSW' 'WSW' 'N' 'ESE']

In [87]:
#reducing the categories of Condition with string matching
import re

df['Condition'] = df['Condition'].str.strip()

# Assuming df is your DataFrame and 'column_name' is the column you want to categorize
df['categorized_conditions'] = df['Condition'].apply(lambda x: 'FAIR' if re.search('Fair', x)                                             
                                                    else 'LIGHT DRIZZLE'if re.search('Light Drizzle', x)
                                                    else 'DRIZZLE&FOG' if re.search('Drizzle and Fog', x)
                                                    else 'CLOUDY' if re.search('Cloudy', x)
                                                    else 'LIGHT RAIN' if re.search('Light Rain', x)
                                                    else 'HEAVY RAIN' if re.search('Heavy Rain', x)
                                                    else 'FREEZING RAIN' if re.search('Light Freezing Rain', x)
                                                    else 'RAIN' if re.search('Rain', x)
                                                    else 'FOG' if re.search('Fog', x)
                                                    else 'FREEZING RAIN' if re.search('Light Freezing Rain', x)
                                                    else 'LIGHT SNOW' if re.search('Light Snow', x)
                                                    else 'WINTRY MIX' if re.search('Wintry Mix', x)
                                                    else 'SNOW' if re.search('Snow', x)
                                                    else 'others')

In [88]:
unique_values_new = df['categorized_conditions'].unique()
print("Unique Values using unique():", unique_values_new)

Unique Values using unique(): ['FAIR' 'LIGHT RAIN' 'CLOUDY' 'LIGHT SNOW' 'LIGHT DRIZZLE' 'RAIN'
 'HEAVY RAIN' 'FOG' 'WINTRY MIX' 'FREEZING RAIN' 'DRIZZLE&FOG' 'SNOW']

In [69]:
print(df['Condition'].sample(40))

5354            Cloudy / Windy
22966                   Cloudy
20373    Mostly Cloudy / Windy
8288             Mostly Cloudy
3896                      Fair
20508                   Cloudy
773              Mostly Cloudy
21589            Partly Cloudy
3897                      Fair
17512            Mostly Cloudy
22490    Mostly Cloudy / Windy
11677            Mostly Cloudy
22830                   Cloudy
25560                     Fair
25686                     Fair
14193                   Cloudy
14687                     Fair
28707                   Cloudy
15694                   Cloudy
6215             Mostly Cloudy
17884            Mostly Cloudy
4630             Partly Cloudy
19748            Mostly Cloudy
10001                   Cloudy
14941             Fair / Windy
410              Partly Cloudy
23371                   Cloudy
15837                     Fair
26982            Mostly Cloudy
8104             Partly Cloudy
26844            Mostly Cloudy
1785                      Fair
18734            Mostly Cloudy
28667                   Cloudy
18329                     Rain
23945    Partly Cloudy / Windy
20307    Mostly Cloudy / Windy
21052                   Cloudy
16237                     Fair
14920             Fair / Windy
Name: Condition, dtype: object

In [70]:
print(df['categorized_conditions'].sample(40))

25227          FAIR
20908        CLOUDY
437          CLOUDY
2280         CLOUDY
23327    LIGHT RAIN
22436        CLOUDY
18747        CLOUDY
22080        CLOUDY
17689        CLOUDY
28755        CLOUDY
44             FAIR
26015        CLOUDY
6059         CLOUDY
17242        CLOUDY
12392        CLOUDY
20969        CLOUDY
10747        CLOUDY
4393         CLOUDY
11162    LIGHT RAIN
283            FAIR
5313         CLOUDY
14503    LIGHT RAIN
16737        CLOUDY
23108        CLOUDY
8740         CLOUDY
909            FAIR
7147         CLOUDY
3027         CLOUDY
11647        CLOUDY
2345         CLOUDY
333            FAIR
15433          FAIR
26437        CLOUDY
16500        CLOUDY
8981         CLOUDY
3152         CLOUDY
10035    LIGHT RAIN
1829           FAIR
22501        CLOUDY
28343        CLOUDY
Name: categorized_conditions, dtype: object

In [77]:
# Assuming df is your DataFrame and 'column_name' is the column you want to search
search_value = 'Heavy Rain'

# Use the isin() method to check if the search value is in the column
result = df[df['Condition'].isin([search_value])]

# Print the result
print(result)

# Running the recognition of pattern 'Rain' before all the 
# other variation will simply categorize everything that contains rain under RAIN category

       MONTH  DAY_OF_MONTH  DAY_OF_WEEK OP_UNIQUE_CARRIER TAIL_NUM DEST  \
7636      11            24            7                DL   N174DZ  SLC
7637      11            24            7                B6   N351JB  ROC
9934      12             1            7                B6   N907JB  SJU
9935      12             1            7                DL   N117DU  DTW
11957     12             9            1                DL   N342NB  BOS
11958     12             9            1                DL   N921AT  MSP
11959     12             9            1                AS   N423AS  SFO
11960     12             9            1                9E   N313PQ  PIT
11961     12             9            1                B6   N229JB  ROC
11962     12             9            1                AS   N469AS  SEA
11963     12             9            1                B6   N587JB  TPA
11964     12             9            1                AA   N196UW  PHX
11965     12             9            1                B6   N346JB  BUF
11966     12             9            1                DL   N919AT  CLT
11967     12             9            1                B6   N506JB  JAX
12115     12             9            1                9E   N331PQ  DFW
12116     12             9            1                AS   N461AS  SFO
12117     12             9            1                DL   N721TW  SFO
12118     12             9            1                DL   N3748Y  SAN
12119     12             9            1                9E   N801AY  SYR
12120     12             9            1                DL   N179DN  LAX
12121     12             9            1                DL   N881DN  ATL
12122     12             9            1                B6   N949JT  SMF
12128     12             9            1                B6   N950JT  MCO
12129     12             9            1                AA   N839NN  SAT
12130     12             9            1                9E   N299PQ  IND
12131     12             9            1                DL   N378NW  SAT
12132     12             9            1                B6   N304JB  TPA
12133     12             9            1                DL   N122DU  DFW
12134     12             9            1                OO   N288SY  BNA
12135     12             9            1                DL   N860DN  ATL
12136     12             9            1                AA   N902AN  CLT
12137     12             9            1                B6   N639JB  RSW
12138     12             9            1                DL   N330NW  TPA
12139     12             9            1                DL   N352NW  AUS
12140     12             9            1                DL   N890DN  SJU
12141     12             9            1                DL   N177DN  LAX
12142     12             9            1                DL   N342NB  MSP
12143     12             9            1                B6   N599JB  SLC
12144     12             9            1                9E   N349PQ  BOS
12145     12             9            1                B6   N982JB  SFO
12146     12             9            1                DL   N379DA  SAN
12147     12             9            1                MQ   N810AE  ORF
12148     12             9            1                DL   N304DN  MCO
12149     12             9            1                9E   N335PQ  CVG
12150     12             9            1                9E   N820AY  BWI
12151     12             9            1                DL   N334NW  MSY
12152     12             9            1                DL   N936AT  CLT
12153     12             9            1                B6   N997JL  LAS
13440     12            13            5                B6   N952JB  SJU
26659      1            25            6                B6   N283JB  IAH
26660      1            25            6                B6   N775JB  TPA
26661      1            25            6                DL   N105DU  IAH
26662      1            25            6                B6   N970JB  SJU

       DEP_DELAY  CRS_ELAPSED_TIME  DISTANCE  CRS_DEP_M  ...  Humidity  Wind  \
7636           7               328      1990        420  ...        10    NE
7637           9                82       264        422  ...        10    NE
9934          -7               235      1598        954  ...        10   ENE
9935         169               123       509        779  ...        10   ENE
11957         11                81       187        420  ...        10   ENE
11958         16               205      1029        420  ...        10   ENE
11959         17               407      2586        420  ...        10   ENE
11960         -2               114       340        440  ...        10   ENE
11961         -6                81       264        444  ...        10   ENE
11962         -9               387      2422        450  ...        10   ENE
11963         -7               179      1005        450  ...        10   ENE
11964         -3               352      2153        455  ...        10   ENE
11965         -7                84       301        460  ...        10   ENE
11966         -2               132       541        460  ...        10   ENE
11967         -9               153       828        469  ...        10   ENE
12115        193               265      1391        810  ...        10     S
12116         12               410      2586        995  ...        10     S
12117         50               417      2586        961  ...        10     S
12118         -7               386      2446       1019  ...        10     S
12119         -5                97       209       1018  ...        10     S
12120         -1               385      2475       1015  ...        10     S
12121          2               166       760       1015  ...        10     S
12122         -2               379      2521       1019  ...        10     S
12128         21               179       944       1079  ...        10     S
12129         -5               276      1587       1109  ...        10     S
12130         10               148       665       1109  ...        10     S
12131         10               271      1587       1110  ...        10     S
12132         41               187      1005       1079  ...        10     S
12133         17               265      1391       1105  ...        10     S
12134         23               169       765       1100  ...        10     S
12135          0               172       760       1126  ...        10     S
12136        325               128       541        811  ...        10     S
12137        163               192      1074        975  ...        10     S
12138         -6               186      1005       1169  ...        10     S
12139         28               266      1521       1139  ...        10     S
12140         21               233      1598       1146  ...        10     S
12141          3               394      2475       1165  ...        10     S
12142          8               207      1029       1168  ...        10     S
12143         -4               327      1990       1182  ...        10     S
12144        242                94       187        940  ...        10     S
12145          2               409      2586       1180  ...        10     S
12146          0               398      2446       1183  ...        10     S
12147         15                95       290       1169  ...        10     S
12148          9               193       944       1180  ...        10     S
12149         51               144       589       1139  ...        10     S
12150        144                85       184       1054  ...        10     S
12151         25               215      1182       1175  ...        10     S
12152         35               135       541       1175  ...        10     S
12153         46               353      2248       1170  ...        10     S
13440        183               226      1598       1412  ...        10   ENE
26659        101               263      1417        780  ...        10   WSW
26660         -7               193      1005        899  ...        10   WSW
26661          0               256      1417        895  ...        10   WSW
26662          3               233      1598        900  ...        10   ESE

       Wind Speed  Wind Gust  Pressure   Condition  sch_dep  sch_arr  \
7636           16          0     29.29  Heavy Rain       36       31
7637           16          0     29.29  Heavy Rain       36       31
9934           17          0     29.67  Heavy Rain       32       33
9935           17          0     29.67  Heavy Rain       32       33
11957           3          0     30.12  Heavy Rain       37       32
11958           3          0     30.12  Heavy Rain       37       32
11959           3          0     30.12  Heavy Rain       37       32
11960           3          0     30.12  Heavy Rain       37       32
11961           3          0     30.12  Heavy Rain       37       32
11962           3          0     30.12  Heavy Rain       37       32
11963           3          0     30.12  Heavy Rain       37       32
11964           3          0     30.12  Heavy Rain       37       32
11965           3          0     30.12  Heavy Rain       37       32
11966           3          0     30.12  Heavy Rain       37       32
11967           3          0     30.12  Heavy Rain       37       32
12115          12          0     29.88  Heavy Rain       31       33
12116          12          0     29.88  Heavy Rain       31       33
12117          12          0     29.88  Heavy Rain       31       33
12118          12          0     29.88  Heavy Rain       31       33
12119          12          0     29.88  Heavy Rain       31       33
12120          12          0     29.88  Heavy Rain       31       33
12121          12          0     29.88  Heavy Rain       31       33
12122          12          0     29.88  Heavy Rain       31       33
12128          14          0     29.82  Heavy Rain       37       36
12129          14          0     29.82  Heavy Rain       37       36
12130          14          0     29.82  Heavy Rain       37       36
12131          14          0     29.82  Heavy Rain       37       36
12132          14          0     29.82  Heavy Rain       37       36
12133          14          0     29.82  Heavy Rain       37       36
12134          14          0     29.82  Heavy Rain       37       36
12135          14          0     29.82  Heavy Rain       37       36
12136          14          0     29.82  Heavy Rain       37       36
12137          14          0     29.82  Heavy Rain       37       36
12138          16          0     29.79  Heavy Rain       42       29
12139          16          0     29.79  Heavy Rain       42       29
12140          16          0     29.79  Heavy Rain       42       29
12141          16          0     29.79  Heavy Rain       42       29
12142          16          0     29.79  Heavy Rain       42       29
12143          16          0     29.79  Heavy Rain       42       29
12144          16          0     29.79  Heavy Rain       42       29
12145          16          0     29.79  Heavy Rain       42       29
12146          16          0     29.79  Heavy Rain       42       29
12147          16          0     29.79  Heavy Rain       42       29
12148          16          0     29.79  Heavy Rain       42       29
12149          16          0     29.79  Heavy Rain       42       29
12150          16          0     29.79  Heavy Rain       42       29
12151          16          0     29.79  Heavy Rain       28       42
12152          16          0     29.79  Heavy Rain       28       42
12153          16          0     29.79  Heavy Rain       28       42
13440          10          0     29.71  Heavy Rain        2        2
26659          14         26     29.80  Heavy Rain       22       40
26660          14         26     29.80  Heavy Rain       22       40
26661          14         26     29.80  Heavy Rain       22       40
26662          13         25     29.78  Heavy Rain       30       34

       TAXI_OUT categorized_conditions
7636         21                   RAIN
7637         19                   RAIN
9934         39                   RAIN
9935         36                   RAIN
11957        21                   RAIN
11958        23                   RAIN
11959        32                   RAIN
11960        37                   RAIN
11961        19                   RAIN
11962        26                   RAIN
11963        18                   RAIN
11964        26                   RAIN
11965        29                   RAIN
11966        26                   RAIN
11967        21                   RAIN
12115        20                   RAIN
12116        39                   RAIN
12117        12                   RAIN
12118        35                   RAIN
12119        39                   RAIN
12120        37                   RAIN
12121        37                   RAIN
12122        25                   RAIN
12128        28                   RAIN
12129        20                   RAIN
12130        21                   RAIN
12131        17                   RAIN
12132        32                   RAIN
12133        26                   RAIN
12134        33                   RAIN
12135        19                   RAIN
12136        22                   RAIN
12137        22                   RAIN
12138        27                   RAIN
12139        21                   RAIN
12140        37                   RAIN
12141        33                   RAIN
12142        36                   RAIN
12143        26                   RAIN
12144        39                   RAIN
12145        28                   RAIN
12146        36                   RAIN
12147        33                   RAIN
12148        41                   RAIN
12149        30                   RAIN
12150        17                   RAIN
12151        13                   RAIN
12152        16                   RAIN
12153        39                   RAIN
13440        25                   RAIN
26659        17                   RAIN
26660        17                   RAIN
26661        21                   RAIN
26662        31                   RAIN

[54 rows x 24 columns]